header {
    margin:0;
    justify-content: center;
    background-color: #b8cdf2;
    height: 250px;
    margin-bottom: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    align-content: center;
    text-align: center;
    color: black;
   }

body {
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(233, 234, 235);
}

section {
    background-color: rgb(111, 68, 15);
    display: grid;
    height: 75px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.info {
    border: 5px solid rgb(111, 68, 15); /* Example: 5px thick, solid style, brown color */
}

img {
    width: 120px;
    height: 200px;
    padding-top: 30px;
    padding-left: 30px;
}
